@font-face {
    font-family: Monsters;
    src: url("assets/fonts/MonsterAG.ttf");
}

@font-face {
    font-family: DIN;
    src: url("assets/fonts/DIN.otf");
}

@font-face {
    font-family: Digital7;
    src: url("assets/fonts/Digital7.ttf")
}

body {
    background-image: url("assets/images/background.jpg");
    background-size: cover;
    background-position: center;
    text-align: center;
    font-family: DIN, sans-serif;
    color: white;
    padding: 20px;
    margin: 0;
}

#main {
    width: 600px;
    background-image: url("assets/images/metal.jpg");
    background-position: center;
    background-size: cover;
    margin: 0 auto;
    padding: 20px ;
    border: 1px solid grey;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    text-align: center;
    box-shadow: 0 0 50px black;
    
}

.screw-cnt {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.screw-img {
    border-radius: 50%;
    width: 50px;
}

#logo {
    width: 80px;
    margin: 0 auto;
}

h1 {
    font-family: Monsters, Times, sans-serif;
    font-size: 80px;
    margin: 10px;
    color: #1261d8;
    font-weight: 100;
}

h2 {
    font-size: 30px;
    margin: 0;
    font-weight: 100;
}

h3 {
    font-size: 100px;
    margin: 10px auto 20px;
    background-color: black;
    width: 50%;
    padding: 20px 0;
    border-radius: 5px;
    font-family: Digital7, sans-serif;
    color: red;
    text-shadow: 0 0 30px red;
}

.btn-cluster {
    width: 50%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

button {
    border: none;
    padding: 15px 0 ;
    color: white;
    font-weight: 600;
    border-radius: 5px;
    font-size: 18px;
}

#increment-btn {
    background: #f8da18;
    color: black;
}

#decrement-btn {
    background: #f8da18;
    color: black;
}

#save-btn {
    background: #870e10;
}

#reset-btn {
    background: #870e10;
}

#save-el {
    margin: 20px;
    padding: 10px;
    font-size: 20px;
    font-weight: 100;
}

#footer {
    margin: 10px;
    font-family: sans-serif;
    font-size: 14px;
    font-weight: 200;
    color: black;
}

